[Unit]
Description=Gateway LoRaWAN Radioenge.

[Service]
Type=simple
ExecStart=/opt/elcereza/start.sh
#ExecStop=/opt/elcereza/stop.sh

[Install]
WantedBy=multi-user.target
