[Unit]
Description=LoRaWAN Gateway Service (Radioenge)
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/elcereza/LoRaWAN/start.sh
# ExecStop=/elcereza/LoRaWAN/stop.sh
Restart=on-failure
RestartSec=10
WorkingDirectory=/elcereza/LoRaWAN
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lorawan-gateway

[Install]
WantedBy=multi-user.target
